body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* Global CSS */
.slick-prev::before,
.slick-next::before {
  font-size: 40px; /* Default font size */
}

/* Additional style for the middle arrow */
.custom-middle-arrow .slick-prev::before,
.custom-middle-arrow .slick-next::before {
  font-size: 40px; /* Adjust the font size for the middle arrow */
}
